.font-part{
    
    font-family: 'Great Vibes', cursive;
font-family: 'Kanit', sans-serif;
font-family: 'Kaushan Script', cursive;
font-family: 'Mitr', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Ramabhadra', sans-serif;
font-family: 'Trispace', sans-serif;
    color: white;
    text-align: center;
    background-image: url('./images/donation13.jpg');
background-size:cover;

background-repeat: no-repeat;
 padding: 200px 20px;
 margin: 0%;
 
}


.donate{
    width: 120px;
    height: 30px;
    border: 1px solid palevioletred;
    border-radius: 5px;
    margin: auto;
    background-color: palevioletred;
    padding-top: 8px;
}
.amount{
    display: flex;
    
}
.money{
    text-align: center;
}
.second{
    text-align: center;
}
.money-amount{
    display: flex;
    
    
}
.new{
    border: 1px solid whitesmoke;
    font-weight:600;
    background-color: rgb(216, 195, 170);
    width: 80px;
    padding-top: 25px;
    height: 50px;
    text-align: center;
    border-radius: 5px;
    margin: 5px;
    font-size: large;
    color: rgb(44, 17, 17);  
}

#new1{
    background-color: white;
}
#new2{
    color: chocolate;
    background-color: rgb(235, 221, 221);
}
#new3{
    background-color: white;
}
#new4{
    background-color: white;
}

.money{
    display: flex;
    margin-left: 500px;
}
.other-money{
   text-align:center;
    color: gray;
}
.line
{
    width: 50%;
}
.donate2{
    width: 120px;
    height: 30px;
    border: 1px solid palevioletred;
    border-radius: 5px;
    margin: auto;
    background-color: palevioletred;
    padding-top: 8px;
    color: white;
    padding-left: 60px;

}
.donate-plan{
    text-align: center;
}
.food{
    border:1px solid white;
    background-color: rgb(253, 248, 242);
    width: 240px;
    height: 210px;
    border-radius: 5px;
    padding-left: 12px;
    padding-top: 40px;
    margin: 15px;
}
 #block1{
    background-color:rgb(232, 240, 240);
 } 
 #block2{
    background-color: rgb(238, 218, 221);
 } 
 #block3{
    background-color:rgb(233, 247, 242);
 }  
   
.essential-goods{
    display: flex;
    margin-left:230px ;
}
