.font-part{
    
    font-family: 'Great Vibes', cursive;
font-family: 'Kanit', sans-serif;
font-family: 'Kaushan Script', cursive;
font-family: 'Mitr', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Ramabhadra', sans-serif;
font-family: 'Trispace', sans-serif;
    color: white;
    text-align: center;
    background-image: url('./images/donation13.jpg');
background-size:cover;

background-repeat: no-repeat;
 padding: 200px 20px;
 margin: 0%;
}
.donate{
    width: 120px;
    height: 30px;
    border: 1px solid palevioletred;
    border-radius: 5px;
    margin: auto;
    background-color: palevioletred;
    padding-top: 8px;
}
.amount{
    display: flex;
    
}
.money{
    text-align: center;
}
