.font-part{
    
    font-family: 'Great Vibes', cursive;
font-family: 'Kanit', sans-serif;
font-family: 'Kaushan Script', cursive;
font-family: 'Mitr', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Ramabhadra', sans-serif;
font-family: 'Trispace', sans-serif;
    color: white;
    text-align: center;
    background-image: url('./images/donation13.jpg');
background-size:cover;

background-repeat: no-repeat;
 padding: 200px 20px;
 margin: 0%;
}
.donate{
    width: 120px;
    height: 30px;
    border: 1px solid palevioletred;
    border-radius: 5px;
    margin: auto;
    background-color: palevioletred;
    padding-top: 8px;
}
.amount{
    display: flex;
    
}
.money{
    text-align: center;
}
.second{
    text-align: center;
}
.money-amount{
    display: flex;
    
    
}
.new{
    border: 3px solid pink;
    font-weight:600;
    background-color: rgb(240, 233, 225);
    width: 80px;
    padding-top: 25px;
    height: 50px;
    text-align: center;
    border-radius: 5px;
    margin: 5px;
    font-size: large;
    color: rgb(44, 17, 17);  
}
.money{
    display: flex;
    margin-left: 500px;
}
.other-money{
   text-align:center;
    color: gray;
}
.line
{
    width: 50%;
}
.donate2{
    width: 120px;
    height: 30px;
    border: 1px solid palevioletred;
    border-radius: 5px;
    margin: auto;
    background-color: palevioletred;
    padding-top: 8px;
    color: white;
    padding-left: 60px;


}
